<!DOCTYPE html>
<html lang="nl" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.typekit.net/bbl7sji.css">
    <link rel="stylesheet" href="style.css">
    <title>Zappsters</title>
</head>
<body>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid p-2">
            <a class="navbar-brand" href="#"><img src="logo.png" alt="ZappersLogo" style="width:240px;height:40px;"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav" style="font-family: new-order, sans-serif;">
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <h1 class="HeadTitle">Over ons</h1>
        <div class="row">
            <figure class="col-2 offset-2">
                <img class="border-circle" src="foto%20matthias.png" alt="person">
                <figcaption class="text-center">Matthias Theys</figcaption>
                <figcaption>Ik ben Matthias, 19 jaar en vindt het leuk om mij bezig te houden met auto's en Netwerken. </figcaption>
            </figure>
            <figure class="col-2 mx-1">
                <img class="border-circle" src="Mo.png" alt="person">
                <figcaption class="text-center">Mohammed Hamioui</figcaption>
                <figcaption>
                    Ik ben Mohammed, 19 jaar en heb passie voor technologie en cyber security. Verantwoordelijk voor de business kaart layout en het front-end gedeelte van de website
                </figcaption>
            </figure>
            <figure class="col-2 mx-1">
                <img class="border-circle" src="foto%20laurens.png" alt="person">
                <figcaption class="text-center">Laurens Karakolev</figcaption>
                <figcaption>
                    Ik ben Laurens, 19 jaar oud en ga volgend jaar waarschijnlijk App & AI verderstuderen.
                </figcaption>
            </figure>
            <figure class="col-2 mx-1">
                <img class="border-circle" src="kais.png" alt="person">
                <figcaption class="text-center">Kaïs Boutaleb</figcaption>
                <figcaption>
                    Ik ben kaïs, 21 jaar en fan van alles waar technologie in zit. Ik ben zeer geïnteresseerd in cybersecurity en AI. maar ook andere zaken buiten IT zoals talen en muziek. Hier ben ik verantwoordelijk voor de backend van de website
                </figcaption>
            </figure>
        </div>


    </main>
    <footer>
        <img src="logo.png" alt="logo" style="width:180px;height:30px;" class="ZPlogoFooter">
        <div class="row" style="padding-top:4vh;">
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <ul class="footerlist">
                        <li><a href="#">Kaarten met 3D model</a></li>
                        <li><a href="#">Kaarten met 3D model (animatie)</a></li>
                        <li><a href="#">Kaarten met facetracking</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53838.567314431326!2d4.958186161809371!3d51.15089637591463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c14c011b4bcb87%3A0xb5b970e9f2a6ce42!2sThomas%20More%20-%20Campus%20Geel!5e0!3m2!1snl!2sbe!4v1653463556743!5m2!1snl!2sbe" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="box">
                    <img src="logo.svg" alt="TMlogo" style="padding:0vh 3vh 3vh 3vh;width:200px;">
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
