{% extends 'base.html' %}
<!-- Fill in the title -->
{% block title %} About {% endblock %}
{% block content %}
    <h1 class="HeadTitle">Over ons</h1>
    <div class="row">
                        <div class="col-6 col-sm-4 mx-auto text-center">
                            <figure>
                                <img class="rounded-circle mt-3 img-fluid" src="/static/foto%20matthias.png" alt="matthias" width="200" height="200" />
                                <figcaption class="pt-3">
                                    <span class="fw-bold">Matthias Theys</span><br />Ik ben Matthias, 19 jaar en vindt het leuk om mij bezig te houden met auto's en en Netwerken.
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-4 mx-auto text-center">
                            <figure>
                                <img class="rounded-circle mt-3 img-fluid" src="/static/Mo.png" alt="Mohammed" width="200" height="200" />
                                <figcaption class="pt-3">
                                    <span class="fw-bold">Mohammed Hamioui</span><br />Ik ben Mohammed, 19 jaar en heb passie voor technologie en cyber security. Verantwoordelijk voor de business kaart layout en het front-end gedeelte van de website.<br />
                                </figcaption>
                            </figure>
                        </div>

                        <div class="w-100 d-none d-md-block"></div>

                        <div class="col-6 col-sm-4 mx-auto text-center">
                            <figure>
                                <img class="rounded-circle mt-3 img-fluid" src="/static/foto%20laurens.png" alt="Laurens" width="200" height="200" />
                                <figcaption class="pt-3 pb-2">
                                    <span class="fw-bold">Laurens Karakolev</span> <br />
                                    Ik ben Laurens, 19 jaar oud en ga volgend jaar waarschijnlijk App & AI verderstuderen.
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-4 mx-auto text-center">
                            <figure>
                                <img class="rounded-circle mt-3 img-fluid" src="/static/kais.png" alt="kaïs" width="200" height="200" />
                                <figcaption class="pt-3 pb-2">
                                    <span class="fw-bold">kaïs Boutaleb</span><br />
                                    Ik ben kaïs, 21 jaar en fan van alles waar technologie in zit. Ik ben zeer geïnteresseerd in cybersecurity en AI. maar ook andere zaken buiten IT zoals talen en muziek. Hier ben ik verantwoordelijk voor de backend van de website.
                                </figcaption>
                            </figure>
                        </div>
                    </div>
{% endblock %}
