<!-- The content page extends our base template -->
{% extends 'base.html' %}

<!-- Fill in the title -->
{% block title %} AR Greeting Cards {% endblock %}

{% block content %}
    <h1>AR Greeting Cards</h1>
    <hr/>
    <p>Please select one of our fancy AR cards:</p>

    <p>
        <!-- Create a div-tag for every card in the cards collection -->
        {% for card in cards %}

            <div>
                <p>{{ card['title'] }}</p>
                <a href='/wish/{{ card['cardid'] }}'>
                    <img src="/static/{{ card['cardid'] }}.jpg"/>
                </a>
            </div>
        {% endfor %}
    </p>
{% endblock %}
