<!-- The content page extends our base template -->
{% extends 'base.html' %}
<!-- Fill in the title -->
{% block title %} Home {% endblock %}
{% block content %}
<h1 class="HeadTitle">Wenskaarten</h1>
<div class="row">
   {% for card in cards %}
      <div class="col-xs-12 col-sm-4">
         <a href='/wish/{{ card['cardid']}}'>
            <img class="img-fluid" src="/static/{{ card['cardid']}}.jpg" id="cards"/>
             <br/>
         </a>
      </div>
   {% endfor %}
</div>
{% endblock %}