<!-- The content page extends our base template -->
{% extends 'base.html' %}

<!-- Fill in the title -->
{% block title %} Add New Wish {% endblock %}

{% block content %}
    <h1 class="HeadTitle">Stuur uw boodschap</h1>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <img class="img-fluid" src="/static/{{ card['cardid'] }}.jpg"
                     style="width:267px;height:386px;display:block;margin:auto;"/>
            </div>
            <form class="col-xs-12 col-sm-8" action="/wish_insert" method="post" id="wish_form" name="wish_form" onsubmit="return validateForm()">
                <input type="hidden" id="card_id" name="card_id" value="{{ card['cardid'] }}"
                       style="border-radius: 2vh;">
                <div class="form-group">
                    <label for="sender">Zender:</label>
                    <input type="text" class="form-control" id="sender" name="sender" style="border-radius: 2vh;">
                </div>
                <div class="form-group">
                    <label for="receiver">Ontvanger:</label>
                    <input type="text" class="form-control" id="receiver" name="receiver" style="border-radius: 2vh;">
                </div>
                <div class="form-group">
                    <label for="message">Boodschap:</label>
                    <textarea class="form-control" rows="5" id="message" name="message"
                              style="border-radius: 2vh;"></textarea>
                </div>
                <input type="hidden" class="form-control" id="send_method" name="send_method">
                <input type="hidden" class="form-control" id="send_destination" name="send_destination">

                <hr>
                <input type="button" name="btn" value="Submit" id="submitBtn" data-bs-toggle="modal" data-bs-target="#confirm-submit"
               class="btn btn-default bg-primary"/>
            </form>
        </div>
        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Verzending bevestigen</div>
                    <div class="modal-body">Hoe wenst u de kaart te versturen?
                        <table class="table">
                            <tr>
                                <th>Zender:</th>
                                <td id="sender"></td>
                            </tr>
                            <tr>
                                <th>Ontvanger:</th>
                                <td id="receiver"></td>
                            </tr>
                            <tr>
                                <th>Boodschap:</th>
                                <td id="message"></td>
                            </tr>
                        </table>
                    </div>
                    <form name="card_send" onsubmit="return validateForm()">
                        <div class="form-group" id="send_method">
                            <label for="email">Email:</label>
                            <input type="radio" onclick="checkSendMethod();" name="send_method" id="email_radio"
                                   value="email"/>
                            <label for="post">Post:</label>
                            <input type="radio" onclick="checkSendMethod();" name="send_method" id="post_radio"
                                   value="post"/>
                        </div>
                        <div class="form-group" id="email_field" style="display:none">
                            <label for="message">E-mail:</label>
                            <input type="text" class="form-control" rows="5" id="email_input" name="email" >
                        </div>
                        <div class="form-group" id="post_field" style="display:none">
                            <label for="message">Address:</label>
                            <input type="text" class="form-control" rows="5" id="post_input" name="post" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                            <button id="submit" form="wish_form" class="btn btn-success success">Submit</button>
                        </div>

                    </form>
                     <script>
                            function validateForm() {
                                var sender = document.forms["wish_form"]["sender"].value;
                                var receiver = document.forms["wish_form"]["receiver"].value;
                                var message = document.forms["wish_form"]["message"].value;
                                var email = document.getElementById("email_input").value
                                var post = document.getElementById("post_input").value

                                if (sender == "") {
                                    alert("Vul a.u.b. de zender in.");
                                    return false;
                                }
                                if (receiver == "") {
                                    alert("Vul a.u.b. de ontvanger in.");
                                    return false;
                                }
                                if (message == "") {
                                    alert("Vul a.u.b. de boodschap in.");
                                    return false;
                                }

                                if (email == "" && post == "") {
                                    alert("gelieve het adres of email adres in te voeren.")
                                    return false;
                                }
                            }
                        </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}