<!-- The content page extends our base template -->
{% extends 'base.html' %}

<!-- Fill in the title -->
{% block title %} Add New Wish {% endblock %}

{% block content %}
    <h1>Add New Wish</h1>

    <hr/>

    <p>Please fill in this form:</p>

    <p>
    <div>
        <img src="/static/{{ card['cardid'] }}.jpg"/>
        <p>{{ card }}</p></div>
    <form action="/wish_insert" method="post">
        <input type="hidden" id="card_id" name="card_id" value="{{ card['cardid'] }}">
        <div class="form-group">
            <label for="sender">From:</label>
            <input type="text" class="form-control" id="sender" name="sender">
        </div>
        <div class="form-group">
            <label for="receiver">To:</label>
            <input type="text" class="form-control" id="receiver" name="receiver">
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" id="message" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </p>
{% endblock %}